body {
  margin: 0;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(to right, #662d2e, cyan);
  padding: 1em;
  align-items: center;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
  display: inline;
  padding: 2em;
  font-size: 18px;
}
